.container {
    padding: 10px;
    background-color: black;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.span {
    color: rgb(34, 255, 0);
}
.links {
    color: aliceblue;
    text-decoration: none;
    padding: 20px;
    
}

.links:active {
    color: rgb(34, 255, 0);
}